site_name: Estadística y Probabilidad con Python para STEM
site_description: Estadística y Probabilidad con Python para STEM
repo_name: Estadistica-y-Probabilidad-con-Python-para-STEM
repo_url: https://github.com/manuelgpython/Estadistica-y-Probabilidad-con-Python-para-STEM

theme:
  name: "material"
  locale: es
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - announce.dismiss
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - search.suggest
    - toc.follow
  icon:
    repo: fontawesome/brands/github

use_directory_urls: false

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          options:
            summary: false
            merge_init_into_class: true
            docstring_style: google
            show_root_heading: true
            show_source: true
            show_bases: false
            show_root_full_path: false
            show_symbol_type_heading: true
            show_special_methods: false
            show_symbol_type_toc: true
            modernize_annotations: true
            ignore_init_summary: true
            show_submodules: false
            filters: ["!get_config", "!build", "!^_[^_]"]
  - git-revision-date-localized
  - git-authors:
      show_email_address: false
  - enumerate-headings:
      toc_depth: 0
      exclude:
        - index.md
  - mkdocs-jupyter

extra:
  status:
    new: Recently added
    deprecated: Deprecated
